body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

.jumbotron {
    text-align: center;
    background: linear-gradient(50deg, rgba(90, 122, 209), rgba(26, 45, 97));
    color: white;
    padding: .5rem;
}

#search-bar {
    display: inline-block;
}

#search-bar h3 {
    text-align: left;
    font-weight: bold;
}

#search-bar input {
    padding: .25rem;
    margin-bottom: .5rem;
    border-radius: 6px
}

#search-bar button[type=submit] {
    border-radius: 4px;
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 8px;
    display: inline-block;
    width: 200px;
}

.dropdown-divider {
    width: 200px;
}

.cities {
    border-radius: 4px;
    padding: 8px;
    background-color: rgba(215, 215, 217);
    color: black;
    margin: .5rem 0 .5rem 0;
    border: none;
    width: 200px;
}

.cities:hover {
    background-color:rgba(242, 242, 245);
}

#main-display {
    border: solid;
    border-color: rgba(215, 215, 217);
}

#main-display h3 {
    font-weight: bold;
}

#main-display .col {
    width: 400px;
    padding: .5rem;
}

#five-day {
    margin-bottom: 15px;
}

#five-day h4 {
    font-weight: bold;
    padding-top: 1rem;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(72, 78, 105);
    color: white;
}


